body {
    /* background-image: url("photo.jpg"); */
    background-image: url("p.png");
    background-repeat: no-repeat;
    background-size: cover;
    
  }



  .buttonClass1 {
    font-size:20px;
    font-family:Arial;
    width:1000px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#599bb3;
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    box-shadow: 0px 10px 14px -7px #276873;
    text-shadow: 0px 1px 0px #3d768a;
    background:linear-gradient(#599bb3, #408c99);
    margin: 5px;
  }
  
  .buttonClass1:hover {
    background: linear-gradient(#408c99, #599bb3);
  }



  .css-3d-text {
     font-size: 50px;
     color: #ffc107;
     font-family: Arial Black, Gadget, sans-serif;
    font-weight: bold;
    font-style: italic;
     text-shadow: 0px 0px 0 rgb(250,188,2),
                  1px 1px 0 rgb(245,183,0),
                  2px 2px 0 rgb(240,178,0),
                  3px 3px 0 rgb(235,173,0),
                  4px 4px 0 rgb(230,168,0),
                  5px 5px 0 rgb(225,163,0),
                  6px 6px 0 rgb(220,158,0),
                  7px 7px 0 rgb(215,153,0),
                  8px 8px 0 rgb(210,148,0),
                  9px 9px 0 rgb(205,143,0),
                  10px 10px  0 rgb(200,138,0),
                  11px 11px 10px rgba(0,0,0,0.6),
                  11px 11px 1px rgba(0,0,0,0.5),
                  0px 0px 10px rgba(0,0,0,.2);
  }
 
